.title {
  font-size: 2rem;
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--pico-card-background-color);
  border-bottom: 1px solid var(--pico-table-border-color);
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.other-wishlists {
  color: var(--pico-color);
}

.badge {
  padding: 2px 10px;
  margin-right: 8px;
  border-radius: 32px;
  background-color: var(--pico-color);
  color: var(--pico-background-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  white-space: nowrap;
}

.table-wrapper {
  max-width: 100%;
}

footer img {
  height: 32px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

html[data-theme="dark"] .light-only {
  display: none;
}

html[data-theme="light"] .dark-only {
  display: none;
}

.mobile-search {
  position: fixed;
  bottom: 8px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

#mobile-search-toggle {
  display: none;
}

@media screen and (max-width: 800px) {
  .table-wrapper {
    overflow-x: scroll;
  }

  #search-input {
    display: none;
  }

  #mobile-search-toggle {
    display: inline;
  }
}
