.title {
  font-size: 2rem;
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--pico-card-background-color);
  border-bottom: 1px solid #e6e6e6;
}

.badge-received {
  padding: 2px 8px;
  margin-right: 8px;
  border-radius: 32px;
  background-color: #51da01;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.table-wrapper {
  max-width: 100%;
}

footer img {
  height: 24px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 800px) {
  .table-wrapper {
    overflow-x: scroll;
  }
}
